{% extends "base.html" %} {% load static %} {% block content %}

<div class="col-md-12">
  <h2>RUBY</h2>
  <h3>Introduction</h3>
  <p>
    Ruby on Rails is a web application framework that is gaining popularity
    around the world. In this article, we focus on what makes it popular, as
    well as give you an introduction to Ruby on Rails.
  </p>
  <p>
    Computers greatly influence modern life. They run on programs that are
    constructed using different programming languages. Programming languages are
    responsible for all programs that have been made. These can include
    scheduling software, online games, online shopping apps, anti-virus
    programs; anything you can imagine. Thus, mastering programming languages
    helps you to understand how all digital technology works.
  </p>

  <h2>Ruby on Rails</h2>

  <p>
    Ruby on Rails is a server-side web application framework written in Ruby
    under the MIT License. Rails is a Model–View–Controller (MVC) framework. It
    provides default structures for a database, a web service, and web pages.
  </p>
  <p>
    In essence, Ruby on Rails is a full-stack framework for web development. It
    comes with the tools developers need to create excellent front- and back-end
    web apps.
  </p>
  <p>Ruby on Rails can accomplish many functions including:</p>
  <ul>
    <li>Maintaining live websites through WebSockets</li>
    <li>Enqueuing jobs for asynchronous work</li>
    <li>Storing uploads in the cloud</li>
    <li>Good security defence against typical assaults.</li>
  </ul>
  <p>
    We use this framework to create web apps and services for various
    businesses. These can include marketing websites, content management
    systems, and e-commerce sites. Custom online apps are also easy to create.
    Its ease of use makes it a popular web framework for startups. In this case,
    small teams can construct applications relatively quickly.
  </p>
  <br />

  <h3>MAIN FEATURES OF RUBY ON RAILS</h3>
  <p>
    Rails is based on the Ruby programming language. It has changed the world of
    web development with its practical approach. With Ruby on Rails, every
    feature you need for app development is at your fingertips. You can get the
    information you need to move forward. Let's look at some of the components
    of Ruby on Rails. We will highlight some of the features that distinguish it
    from other programming languages and frameworks.
  </p>

  <h4>MVC Architecture</h4>
  <p>
    The Model, View, and Controller (MVC) architecture forms the foundation of
    Ruby on Rails. This architecture is widely used in web applications. As a
    result, it is easy for developers familiar with other MVC frameworks to use
    Ruby on Rails. This design isolates the codes for different roles, such as
    the display layer, data layer, and resource layer maintenance. The MVC
    architecture is beyond the scope of this Ruby on Rails introduction. We
    recommend checking out this article on test-driven development to learn
    more.
  </p>

  <h4>Active Record</h4>
  <p>
    Ruby on Rails uses an active record library. This is a comprehensive toolkit
    that makes it simple for developers to write database interaction queries.
    Developers will create the query in Ruby. This is then automatically
    transformed into an SQL query, which receives the output and produces an
    object. The active record library is capable of completing the majority of
    jobs. As a result, writing a query in SQL is quite rare.
  </p>

  <h4>Convention over Configuration</h4>
  <p>
    Ruby on Rails does not use configuration files to save conventions,
    reflection, and dynamic runtime extensions. The concept behind "Convention
    over Configuration" is to assign value without the need for human
    participation automatically. Some software systems and frameworks need many
    config files, each with multiple settings. This can be time-consuming.
    Because you don't have to spend time setting up config files, the convention
    function boosts productivity. It saves you time figuring out where things go
    and what names to give them.
  </p>

  <h4>Simple Testing Tool</h4>
  <p>
    RSpec, a unit testing framework included with Ruby on Rails, is simple to
    learn. Because it's ordinary Ruby, you can use it to test the application's
    functions by calling them independently. Ruby assists developers in ensuring
    that applications have been thoroughly tested and examined. RSpec is beyond
    the scope of this Ruby on Rails introduction. So, if you’re looking for
    something even more in-depth, check out this article on RSpec in Ruby on
    Rails. It will help you to make your apps more secure.
  </p>

  <h4>Automated Deployment</h4>
  <p>
    Ruby on Rails includes libraries that make moving code from development to
    production easier and faster. After a one-time setup, it deploys every
    modification you've made to the production with only a single line on the
    command interface.
  </p>

  <h4>Simple Programming Language</h4>
  <p>
    The syntax of Ruby on Rails is simple, concise, close to the English
    language, and flexible. In addition, Ruby is an object-oriented programming
    language. It allows you to create virtual objects in your code.
  </p>
  <br />

  <p>
    Ruby saves you time and enhances efficiency in writing long and complex
    functions. It also helps you write simple commands in HTML, CSS, and
    JavaScript documents. As the syntax of Ruby is close to English, it is
    always easier to structure your thinking and write it into code. Let us now
    give you an intro to Ruby on Rails.
  </p>
  <br />

  <h2>Important Aspects of Ruby</h2>

  <h4>Data types</h4>
  <p>
    Ruby includes a variety of data types. Classes are the foundation of all
    Ruby data types. The following are the most common data types in Ruby:
  </p>
  <ul>
    <li>Arrays</li>
    <li>Hashes</li>
    <li>Boolean</li>
    <li>Symbols</li>
    <li>Numbers</li>
    <li>Strings</li>
  </ul>

  <h4>Methods</h4>
  <p>
    Looking at an overview of Rails in Ruby, a method is simply a set of
    expressions that returns a value. Within a method, you can organize your
    code into subroutines that can be easily invoked from other areas of their
    program. A method definition starts with the "def" keyword followed by the
    method name. Method parameters are specified between parentheses following
    the method name.
  </p>
  <p>
    The method definition ends with the "end" keyword on the bottom. Let’s look
    at an example:
  </p>

  <div class="code-wrapper">
    <div id="copy-button"><i class="bi bi-stickies-fill"></i></div>
    <pre><code class="language-js">
        def print_val(value)
            puts value
        end
     </code></pre>
  </div>

  <h4>Method Name</h4>
  <p>
    A method name must start a letter or a character with the eight-bit set. It
    may contain letters, numbers, an _ (underscore or low line), or a character
    with the eight-bit set. The convention is to use underscores to separate
    words in a multiword method name.
  </p>
  <p>
    Method names are US-ASCII compatible since the keys to type them exist on
    all keyboards. Method names may end with a ! (bang or exclamation mark), a ?
    (question mark), or = equals sign. The bang methods(! at the end of the
    method name) are called and executed just like any other method. Methods
    that end with a question mark by convention return boolean. But they may not
    always return just true or false; often, they return an object to indicate a
    true value. Methods that end with an equal sign indicate an assignment
    method. The return value is ignored for assignment methods, and the
    arguments are returned instead.
  </p>
  <h4>Return Values</h4>
  <p>
    By default, a method returns the last statement that was evaluated in the
    method's body. However, you can also do this by using the return keyword.
  </p>
  <h4>Arguments</h4>
  <p>
    In Ruby, a method can accept different arguments. Here are some argument
    conventions in Ruby:
  </p>
  <ul>
    <li>The arguments always come after the method name.</li>
    <li>The parentheses around the arguments are optional.</li>
    <li>Multiple arguments can be separated by adding commas between them.</li>
    <li>The arguments are positional.</li>
  </ul>

  <h4>Saving Data</h4>
  <p>
    Saving data is a comprehensive topic in Ruby, so for this Ruby on Rails
    introduction let’s keep it simple. Saving data is one of the most
    fundamental aspects of any software application. Therefore, successfully
    connecting to a database and running SQL queries to query data while
    maintaining ACID is essential. In Ruby, this is done via the Active Record.
  </p>
  <p>
    The model, or M in MVC, is the system's layer responsible for providing
    business data and logic. Active Record is the model in MVC. It makes it
    easier to create and use business objects whose data must be stored in a
    database for a long time. It's a version of the Active Record Pattern, a
    description of an Object Relational Mapping system in and of itself. Object
    Relational Mapping is a technique that connects the rich objects of an
    application to tables in a relational database management system. Once you
    set it up correctly, you can then use Rails to control your database by
    writing SQL queries.
  </p>
  <h4>Associations</h4>
  <p>
    In Ruby on Rails, Active Record provides an interface between tables in a
    relational database. An association is a connection between two Active
    Record models. Associations make it much easier to perform various
    operations on the records in your code.
  </p>
  <p>
    To determine the relationship between models, we must evaluate the
    relationship types. There are four types of associations like in databases:
  </p>
  <p>
    One-to-One<br />
    One-to-Many<br />
    Many-to-Many<br />
    Polymorphic
  </p>
  <p>
    Associations are a powerful tool in Ruby on Rails. We are giving only a
    broad overview of them here. To get a better understanding we recommend
    checking out this article on How to Use Associations and Class Names in Ruby
    on Rails.
  </p>
  <h4>Strings</h4>
  <p>
    A string in Ruby is a collection of one or more characters. It could be made
    up of letters, numbers, or symbols. Strings are the objects, and unlike in
    other languages, strings are changeable, meaning that they can be altered in
    place rather than being created from scratch. We can create strings in Ruby
    by simply placing a sequence of characters in double or single quotations to
    generate the string. The user can also save the string to a variable. There
    is no need to specify the variable's data type in Ruby.
  </p>
  <h4>String Interpolation</h4>
  <p>
    It is essential to know that the only difference between using single and
    double quotes is that the double quotes will interpolate the variables, but
    single quotes can't interpolate.
  </p>
  <h4>Access String Elements</h4>
  <p>
    Like in Python, users can access the string elements using indexing via
    square brackets. Users can pass in ranges or indexes into square brackets to
    retrieve a subset of the string.
  </p>
  <h4>Arrays</h4>
  <p>
    An array is a data structure that can hold a fixed number of elements of the
    same data type in a fixed size. Although an array is used to store data, it
    is often more beneficial to conceive of it as a collection of variables of
    the same type.
  </p>
  <p>
    Ruby arrays are collections of things that are arranged in a specific order.
    They can hold integers, numbers, hashes, strings, symbols, and other
    arrays.<br />
    In Ruby on Rails, an array is defined as a list of values surrounded by
    square brackets separated by commas.
  </p>
  <p>
    Its indexing begins with a zero. Like in Python, the negative index begins
    with -1 from the end of the array. For example, -1 denotes the array's last
    element, while 0 denotes the array's initial element.
  </p>

  <div class="butons">
    <button class="btn btn-outline-primary">
      <a href="{% url 'coursesDashboard' %}">&laquo; Previous </a>
    </button>
    <button class="btn btn-outline-primary">
      <a href="{% url 'jsPart12' %}"> Next &raquo;</a>
    </button>
  </div>
</div>
{% endblock %}
